<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

<h1>Edit User</h1>

<%= link_to 'Users', users_path %></li>
<%= link_to @user.user_name, @user %></li>

<%= render 'form' %>
