<%= link_to 'New Course', new_course_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Day or Night</th>
  </tr>

  <tbody>
    <% @courses.each do |course|  %>
    <tr>
      <td><%= course.title %> </td>
      <% if course.day_night == true %>
      <td>day</td>
      <% else %>
      <td>night</td>
      <% end %>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }  %></td>

    </tr>
    <% end %>
  </tbody>

</table>
